@import url('https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');

:root {
  font-family: "Teachers", sans-serif;
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
  color: #27272a;
}

.dark {
    background: #18181b;
    color: #cecfd1;
}

a {
  color: inherit;
  text-decoration: none;
}

pre {
  overflow: auto;
}

h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

h2 {
  font-size: 1.35rem;
  font-weight: 550;
}

h3 {
  font-size: 1.1rem;
  font-weight: 550;
}